.player__overlay {
  z-index: 99999991;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: -50px;
  margin-left: -50px;
}

.player__overlay.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.player__overlay.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.player__overlay.player__overlay--near {
  margin-bottom: -75px;
  margin-left: -75px;
}