.ads-badge-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 6px 15px;
}
.banner-label {
  margin: 0;
  font-size: 19px;
  font-weight: normal;
  color: white;
  
}