body {
  font-family: 'Montserrat',sans-serif;
}

.app {
  margin: 0 auto;
  max-width: 1024px;
  min-width: 300px;
}

.app-content {
  border-radius: 4px;
  background-color: #3B3C41;
  position: relative;
}

.footer {
  font-size: 10px;
  text-align: right;
  padding: 5px;
  margin: 0;
}

.footer a {
  text-decoration: none;
  color: #595959;
}

.d-none {
  display: none !important;
}